.product-page {
  padding: 32px;
  background: var(--bg-color-main);
  min-height: 100vh;
  width: 100vw;
}

/* back button */
.product-page .back-button {
  padding: 5px;
  border-radius: 50%;
  color: var(--text-color-main);
  font-size: 1.5rem;
  left: 20px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.product-page .back-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] .product-page .back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.action-buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.favorite-btn.active {
  background: rgba(0, 0, 0, 0.4);
  color: #e60023;
}

/* main card */
.product-page .product-card {
  display: grid;
  grid-template-columns: 480px 1fr;
  gap: 32px;
  background: var(--bg-color-secondary);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

/* image */
.product-page .product-image-placeholder {
  width: 100%;
  height: 560px;
  background: linear-gradient(180deg, #f0f0f0, #e6e6e6);
  border-radius: 16px;
}

/* info */
.product-page .product-info {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-main);
  padding: 20px 60px 20px 20px;
}

.product-page .product-brand {
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-bottom: 4px;
}

.product-page .product-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 12px 0;
  color: var(--text-color-main);
}

.product-page .product-price {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--text-color-secondary);
}

/* tags */
.product-page .product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.product-page .tag {
  background: var(--bg-color-third);
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 13px;
  color: var(--text-color-fourth);
}

.tag.stock {
  background: rgba(34, 197, 94, 0.15);
  color: #16a34a;
  font-weight: 500;
}

.tag.stock.out {
  background: rgba(239, 68, 68, 0.15);
  color: #dc2626;
}

/* desc */
.product-page .product-description {
  background: var(--bg-color-third);
  border-radius: 16px;
  padding: 16px;
}

.product-page .product-description h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.product-page .product-description p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color-fourth);
}

/* tags (#) */
.product-tag-list {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.product-tag-item {
  color: var(--text-color-secondary);
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.product-tag-item:hover {
  opacity: 0.7;
}

/* seller */
.product-seller {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  font-size: 14px;
  background-color: var(--bg-color-third);
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: 40px;
}

.seller-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--text-color-fourth);
}

.seller-link {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  font-weight: 500;
  color: var(--text-color-fourth);
  cursor: pointer;
  text-decoration: none;
  line-height: 1rem;
}

/* buy */

.product-buy {
  margin-top: 20px;
}

.buy-hint {
  font-size: 13px;
  color: var(--text-color-secondary);
  margin-bottom: 8px;
}

.buy-button {
  padding: 12px 20px;

  border-radius: 10px;
  border: none;

  background: var(--button-bg-main);
  color: var(--button-text-main);

  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.15s;
}

.buy-button:hover {
  opacity: 0.9;
}

/* more prod. */
.product-page .related-section {
  margin-top: 48px;
}

.product-page .related-section h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.product-page .related-section h3 {
  margin-bottom: 16px;
}

.product-page .related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.product-page .related-card {
  background: var(--bg-color-secondary);
  border-radius: 16px;
  padding: 12px;
  text-decoration: none;
  color: inherit;

  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.product-page .related-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
}

.product-page .related-image-placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(180deg, #f0f0f0, #e6e6e6);
  border-radius: 12px;
  margin-bottom: 8px;
}
.product-page .related-image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.product-page .related-title {
  font-size: 14px;
  margin-bottom: 4px;
}

.product-page .related-price {
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .product-page {
    padding: 0;
  }
  .product-page .product-card {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .product-page .product-info {
    border-radius: 0 0 20px 20px;
    padding: 10px;
  }
  .product-page .product-image-placeholder {
    height: 420px;
  }
  .product-page .related-section {
    padding: 15px;
  }
  .product-page .related-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
  }
}
